:root{
   --dark-grey: hsl(234, 29%, 20%);
   --charcoal-grey: hsl(235, 18%, 26%);
   --grey: hsl(231, 7%, 60%);
   --white: hsl(0, 0%, 100%);
   --tomato: hsl(4,100%,67%);
}

*{
    box-sizing: border-box;
}

html{
    background: var(--charcoal-grey);
}

body{
    font-family: "Roboto",sans-serif;
    color: var(--dark-grey);
}

h1,h2,h3,p{
    margin:0;
}

main{
    background: var(--white);
    padding: 0 0 3rem;
    max-width: 910px;
    margin:0 auto;
}

h1{
    font-size: min(5vw + 1rem, 3.5rem);
    margin-bottom: 1.5rem;
}

article{
    padding: 0 1.5rem;
}

.main-content{
    margin-top: 2rem;
}

input,button{
    width: 100%;
    padding: 1rem 0;
    font-family: "Roboto",sans-serif;
    border-radius: .5rem;
    border: none;
}

input{
    padding-left: 1.25rem;
    border: 1px solid var(--grey);
    color: var(--dark-grey);
    margin: .5rem 0 1.5rem;
}

input:focus{
    outline: 1px solid var(--dark-grey);
    border: none;
}

button{
    color: var(--white);
    background: var(--dark-grey);
    font-weight: 700;
    font-size: .9rem;
}

span{
    padding-left: 1rem;
    display: inline-block;
    width: 90%;
}

img{
    vertical-align: top;
}

form label,form b{
    font-size: .8rem;
    font-weight: 700;
    display: inline-block;
}

form b{
    color: var(--tomato);
    display: none;
}


.label-state{
    text-align-last: justify;
}

.mobile-img img,.desk-img img{
    width: 100%;
}

.desk-img{
    display: none;
    max-width: fit-content;
}

.success-msg{
    display: none;
}

.pros{
    margin: 1.5rem 0 3rem;
}

.pros > *+*{
    margin-top: 1rem;
}

.pros>*{
    line-height: 1.5rem;
}

form b.active{
    display: inline-block;
}

input.active{
    outline: 1px solid var(--tomato);
    color: var(--tomato);
    border: none;
    background: hsla(4,100%,67%,20%);
}

@media screen and (min-width:900px) {
    .mobile-img{
        display: none;
    }

    .main-content,.desk-img{
        display: inline-block;
        width: 49%;
        vertical-align: middle;
    }

    main{
        padding: 1.5rem;
        text-align-last: justify;
        border-radius: 2rem;
    }

    main *{
        text-align-last: initial;
    }

    .main-content{
        margin-top: 0;
    }
}
